{% extends "site_template/site_template.html" %}

{% block content %}
<div class="contentTitle"><h1>Genres</h1></div>
<div class="contentText">
       <ul>
           <li><a href="{% url 'movielists:movies_by_genre' 'CR' %}">Crime</a></li>
           <li><a href="{% url 'movielists:movies_by_genre' 'TH' %}">Thriller</a></li>
           <li><a href="{% url 'movielists:movies_by_genre' 'SF' %}">Science Fiction</a></li>
           <li><a href="{% url 'movielists:movies_by_genre' 'DR' %}">Drama</a></li>
           <li><a href="{% url 'movielists:movies_by_genre' 'CM' %}">Comedy</a></li>
           <li><a href="{% url 'movielists:movies_by_genre' 'AD' %}">Adventure</a></li>
       </ul>
       <div class='footer_links'>
           <a href="{% url 'mainp:index' %}">Back to home</a>
       </div>
</div>
</div>
{% endblock %}d to flee Vienna during World War II. Decades later, determined to salvage some dignity from her past, Maria has taken on a mission to reclaim a painting the Nazis stole from her family: the famous Lady In Gold, a portrait of her beloved Aunt Adele. P
