{% extends "site_template/site_template.html" %}

{% block content %}
<div class="contentTitle"><h1>{{ movie.title }} comments</h1></div>
<div class="contentText">
    {% if comments %}
    <ul>
        {% for comment in comments %}
        <li><em>{{ comment.comment_pub_date }}</em>
        <b>{{ comment.person }}</b> wrote:<br>
        {{comment.comment_text}}
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no comments posted.</p>
    {% endif %}
    <div id='new_comment'>
        <br>
        <h2>Post a new comment</h2>
<form action="{% url 'movielists:make_a_comment' movie.id %}" method="post">
    {% csrf_token %}
    Name:<br>
    <input type="text" name="user_name">
    <br>
    Comment:<br>
    <textarea name="comment_body"rows="4" cols="50" maxlength="200"></textarea>
    <br>
    <input type="submit" value="Submit Comment">
</form>
</div>
</div>
</div>
{% endblock %}

