{% extends "site_template/site_template.html" %}

{% block content %}
<div class="contentTitle"><h1>Movies</h1></div>
<div class="contentText">
    {% if movies_of_selected_genre %}
        <ul>
        {% for movie in movies_of_selected_genre %}
            <li><a href="{% url 'movielists:movie_details' movie.id %}">{{ movie.title }}, {{movie.pub_date.year}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    <p>No movies are available.</p><br>
    {% endif %}
    <div class="footer_links">
    <a href="{% url 'movielists:index' %}">Back to genre list</a>
    </div>
</div>
</div>
{% endblock %}
