<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css'%}" />


<title>MovReco</title>
</head>

<body>
    <div id="page">
		
        <div id="header">
            <div id="headerTitle"><a href="{% url 'mainp:index'%}">MovReco</a></div>
            <div id="headerSubText">Movie recommendations and more</div>
            
        </div>
        <div id="bar">
      </div>
        <div class="contentTitle"><h1>Movies</h1></div>
        <div class="contentText">
    {% if movies_of_selected_genre %}
        <ul>
        {% for movie in movies_of_selected_genre %}
            <li><a href="{% url 'movielists:movie_details' movie.id %}">{{ movie.title }}, {{movie.pub_date.year}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No movies are available.</p>
    {% endif %}
        </div>
</div>
<div id="footer"><a href="http://www.unipi.gr">web development unipi</a></div>
</body>
</html>
