<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css'%}" />


<title>MovReco</title>
</head>

<body>
    <div id="page">
		
        <div id="header">
            <div id="headerTitle"><a href="{% url 'mainp:index'%}">MovReco</a></div>
            <div id="headerSubText">Movie recommendations and more</div>
            
        </div>
        <div id="bar">
      </div>
      <div class="contentTitle"><h1>{{ movie.title }}</h1></div>
        <div class="contentText">
        <h2> <img src=' {{ movie.image.url }}' height='100' width='100' alt="star wars"></h2>
<p>publication date: {{ movie.pub_date.year }}</p>
<p>duration: {{ movie.duration }}</p>
<p>director: {{ movie.director }}</p>
<p>actors: {{ movie.actors }}</p>
<p>plot: <pre>{{ movie.plot }}</pre></p>
        </div>
</div>
<div id="footer"><a href="http://www.unipi.gr">web development unipi</a></div>
</body>
</html>
