{% extends "site_template/site_template.html" %}

{% block content %}
<div class="contentTitle"><h1>Which TV Series Should I see?</h1></div>
<div class="contentText">
{% if question_list %}
<form action="{% url 'recommender:results' %}" method="post">
{% csrf_token %}
{% for question in question_list %}
<h3>{{ question.question_text }}</h3>
{% for choice in question.recommenderchoice_set.all %}
<input type="radio" name="{{ question.question_name }}" id="choice{{ forloop.counter }}" {% if forloop.first %} checked {% endif %} value="{{ choice.value }}" />
<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label></br>
{% endfor %}
<a href="#submit">I want to submit now</a><br>
{% endfor %}
<div style = "text-align:center">
<a name="submit"><input type="submit" value="See my results" /></a>
</div>
</form>
{% else %}
    <p>No questions are available.</p>
{% endif %}
</div>
</div>
{% endblock %}
