<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'mainp/style.css'%}" />


<title>MovReco</title>
</head>

<body>
    <div id="page">
		
        <div id="header">
            <div id="headerTitle"><a href="{% url 'mainp:index'%}">MovReco</a></div>
            <div id="headerSubText">Movie recommendations and more</div>
            
        </div>
        <div id="bar">
      </div>
        {% block content %}
        {% endblock %}

<div id="footer"><a href="http://www.unipi.gr">web development unipi</a></div>
</body>
</html>
