<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'mainp/style.css'%}" />


<title>MovieHub</title>
</head>

<body>
    <div id="page">
		<a href="{% url 'mainp:index' %}">
        <div id="header" style="height:250px; background-image:url({% static 'mainp/images/banner.png' %});background-size: cover;">
            
        </div>
        </a>
        <div id="bar">
      </div>
        {% block content %}
        {% endblock %}

<div id="footer"><a href="http://www.unipi.gr">web development unipi</a></div>
</body>
</html>
